.body{
    background-color: rgb(231, 232, 213);
    font-size: 20px;
    text-align: left;
    
}
.tieude{
    color: rgb(180, 62, 62);
}
.Sporting{
    color: #5daa69;
}
.mu1{
    color: rgb(232, 35, 35);
}
.real{
    color: rgb(210, 210, 64);
}
.juventus{
    color: black;
}
.mu2{
    color: #b42424;;
}
.Al-nassr{
    color: #181a8c;
}
.bodaonha{
    color: #8a1818;
}