body{
    padding-left: 10px;
}
.tieude{
    color: rgb(64, 160, 228);
}
.example{
    background-color: rgb(248, 239, 215);
    border-left:5px solid rgb(213, 204, 32) ;
}
p{
    padding-left: 10px;
    
}
